.ganttTable {
  display: table;
  /* border: #D9D9D9 1px solid; */
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;
}

.ganttTable_Header {
  display: table-row;
  list-style: none;
  background: #FAFAFA;
}

.ganttTable_HeaderSeparator {
  border-right: 1px solid rgb(196, 196, 196);
  opacity: 1;
  margin-left: -2px;
}

.ganttTable_HeaderItem {
  display: table-cell;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
  padding-left: 12px;
  border-bottom: 1px solid rgb(196, 196, 196);
}

.ganttTable_HeaderItem:not(:last-child) {
  border-right: #D9D9D9 1px solid;
}
